<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <title>Beerigation</title>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        {% block content %}
        <div class="container">

            <div class="row">
                <div id="logodiv" class="span8 offset2" align="center"/>
                    <img src="/static/imgs/logo.png" alt="Git Rumble">
                </div>
            </div>
            <br>

            <div class="row" id="recommendation" align="center">

                <div id='create_session_forms' class='hero-unit span8 offset4'>
                    <form method="POST" action="/recommend">
                        <h2> Enter a beer that you like, and I will recommend similar ones </h2>
                        <div class="row prompt">
                            <input type="text" name="beer"  id="beer" placeholder="What beer do you like?">
                        </div>
                        <button type='submit' class='button'>Get recommendations</button>
                    </form>
                </div>

            </div>

        </div>
        {% endblock %}
    </body>
</html>
